* {
	margin: 0;
	padding: 0;
	transition: 250ms;
  }
  header {
	width: 100%;
	height: 50px;
	background-color: darkgoldenrod;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  #menuBar {
	width: 800px;
	display: flex;
	justify-content:space-around;
  }
  .menuItem {
	text-transform: uppercase;
	font-size: 18px;
	padding: 15px;
	padding-left: 21px;
	padding-right: 21px;
	cursor: pointer;
  }
  .menuItem:hover {
	background-color: rgb(208, 166, 59);
  }
.dropDown {
	font-size: 16px;
	background-color: rgb(208, 166, 59);
	padding: 12px;
	/* margin-top: 3px; */
	text-align: center;
	margin-left: -21px;
	box-shadow: 0 0 15px 3px rgba(104, 104, 104, 0.7);
}
.dropDown:hover {
	background-color: darkgoldenrod;
	box-shadow: 0 0 8x 0px rgba(255, 0, 0, 0.2);

}
#aboutDropDown, #staffDropDown {
	display: none;
	width: 157px;
}
#aboutDropDown {
	width: 131px; 
}
#article {
	display: flex;
	justify-content: space-around;
    flex-wrap: wrap;
	width: 80%;
	margin: auto;
	margin-top: 50px;
}
.articleClass {
	width: 250px;
	height: 400px;
	margin: 20px;
	background-color: rgb(244, 107, 49);
	padding: 5px;
	box-shadow: 5px 5px 10px 0 rgb(109, 109, 109);
}
.divImg {
	width: 250px;
	height: 180px;
	overflow: hidden;
}
.articleClass img {
	width: 100%;
	border-radius: 5px;
	filter: grayscale(100%);
}
.articleClass img:hover {
	cursor: pointer;
	transform: scale(1.05);
	filter: grayscale(0);
}
.articleClass h1 {
	color: beige;
	font-size: 18px;
	margin-top: 5px;
	padding: 5px;
	overflow: hidden;
	text-transform: uppercase;
	text-align: center;
}
.divText {
	width: 240px;
	margin: auto;
	height: 120px;
	overflow-wrap: break-word;
}
.articleClass p {
	color: rgb(61, 24, 24);
	padding: 5px;
}
.articleClass p::first-letter {
	text-transform: capitalize;
}
.articleClass input {
	width: 150px;;
	height: 40px;
	border-radius: 8px;
	border: 2px solid rgba(73, 73, 73, 0.625);
	margin-left: 20%;
	margin-top: 8px;
	padding: 10px;
	background-color: rgba(250, 235, 215, 0.805);
	font-weight: bold;
}
.articleClass input:hover {
	background-color: rgb(255, 188, 105);
	cursor: pointer;
}
#inputDiv {
	margin-top: 20px;
	background-color: antiquewhite;
	width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#inputDiv div {
	margin: 10px;
}
#inputDiv div input {
	width: 250px;
	height: 30px;
	border-radius: 5px;
	border: 0px solid transparent;
	padding: 5px;
}
#inputDiv div input:hover {
	background-color: rgba(208, 208, 247, 0.678);
}
#inputDiv div #createButton {
	width: 150px;
	height: 33px;
	background-color: goldenrod;

}
#inputDiv div #createButton:hover {
	background-color: rgb(77, 203, 210);
	cursor: pointer;
}
